body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.hero {
    background-image: url(img.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    height: 300px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
}

.cta-button {
    background-color: #ff5733;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
}


.features {
    background-image: url(beach.jpg);
    background-size: cover;
    background-color: white;
    text-align: left;
    color: white;
    text-decoration: solid;
    padding: 50px 0;
    padding-left: 80px;
    font-size: 25px;
}

.feature {
    color: white; 
    font-size: 15px;
}

.feature h3 {
    border-radius: 5px;
    color: #d6b6c2;
    border-color: aqua;
}
.testimonial {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.testimonial blockquote {
    font-size: 15px;
    font-style: italic;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
 